spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/leaderboard_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

  data:
    redis:
      port: 6379
      host: localhost

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"
